.page-heading {
	margin-top: 15px;
	text-align: center;
}

.post-list-container {
	padding-top: 40px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 20px;
	border-top: 1px;
	border-top-style: solid;
	border-color: #D3D3D3;
}

.list-group-item {
	border: 0px;
}

.post-container {
	
	margin-top: 10px;
	margin-bottom: 40px;
	
	.post-item {
		background-color: $grey-color-light;
	}

	.post-list {
		margin: 0px 0px 0px 0px;
	}

	.post-meta {
	
	}
}

